[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
typing-extensions = "*"
discord-py-slash-command = "*"

[dev-packages]

[requires]
python_version = "3.9"
